body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}


h1 {
    font-size: 2rem;
    color: #d9534f; 
}

p {
    font-size: 1.2rem;
    padding: 10px;
}